<div id="intro-loader" class="intro-loader" transition:persist>
    <div class="counter-wrapper">
        <span class="counter">0</span>%
    </div>
</div>

<script is:inline>
    // Immediate check to prevent flash on refresh
    if (sessionStorage.getItem("intro-seen-v4")) {
        document.getElementById("intro-loader").style.display = "none";
    }
</script>

<script>
    import { gsap } from "gsap";

    const loader = document.getElementById("intro-loader");
    const counterElement = loader?.querySelector(".counter");
    const hasSeenIntro = sessionStorage.getItem("intro-seen-v4");

    if (loader && !hasSeenIntro) {
        const tl = gsap.timeline({
            onComplete: () => {
                loader.style.display = "none";
                sessionStorage.setItem("intro-seen-v4", "true");
            },
        });

        // 1. Animate Counter
        if (counterElement) {
            const counterObj = { value: 0 };
            tl.to(counterObj, {
                value: 100,
                duration: 1.5,
                ease: "power2.out",
                onUpdate: () => {
                    counterElement.textContent = Math.round(
                        counterObj.value,
                    ).toString();
                },
            });
        }

        // 2. Slide curtain up
        tl.to(loader, {
            y: "-100%",
            duration: 0.8,
            ease: "expo.inOut",
        });
    }
</script>

<style lang="scss">
    @use "../../styles/variables" as *;
    @use "../../styles/mixins" as *;

    .intro-loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-black;
        z-index: 9999;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 2rem;
        color: $color-white;
    }

    .counter-wrapper {
        font-family: $font-sans; // Use the premium sans font
        font-size: 8rem; // Big and bold
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.05em;

        @include screen(md) {
            font-size: 15rem; // Even bigger on desktop
        }
    }
</style>
